[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
req_extensions     = req_ext
distinguished_name = dn

[ dn ]
C  = US
ST = State
L  = City
O  = MyOrg
CN = acrmaster

[ req_ext ]
subjectAltName = @alt_names
extendedKeyUsage = serverAuth

[ alt_names ]
DNS.1   = acrmaster
DNS.2   = localhost
IP.1    = 192.168.0.152
IP.2    = 127.0.0.1
